header {
	display: flex;
	justify-content: space-between;
	background-color: rgb(216 142 83);
	margin: 15px 370px 0 370px;
	height: 75px;
	font-size: 18px;
	box-shadow: 0 8px 12px rgb(178, 178, 178);
}

.title {
	margin-left: 25px;
}

.nav {
	align-self: center;
	font-size: 22px;
	padding: 10px;
}

nav a,
nav a:visited {
	text-decoration: none;
	color: black;
	font-weight: 600;
	margin: 20px 20px 0 0;
}
